body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: 'Roboto', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: #025464;
}

.logo {
  color: #F8F1F1;
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  background-color: #F8F1F1;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}

.container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-input{
  margin-right: 12px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #025464;
}

.form-group input {
  margin-right: 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-group input[type="submit"] {
  background-color: #E57C23;
  color: #F8F1F1;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 24px;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
  background-color: #E8AA42;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  color: #999;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.statusText {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.myTable {
  border: 1px solid;
}

.myTable table,
.myTable th,
.myTable td {
  border: 1px solid;
}

.registrationResult {
  text-align: center;
}